@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import '~vuetify/src/styles/styles.sass';

$new-colors: (
        'background': map-get($shades, 'black')
);
$material-dark: map-merge($material-dark, $new-colors);

$font-size-root: 16px;
$body-font-family: 'Raleway', sans-serif !default;
$card-border-radius: 0;
$chip-label-border-radius: 0;

// For updating SASS lists
$ripple-animation-transition-in: none;
$ripple-animation-transition-out: none;
$ripple-animation-visible-opacity: none;
