@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$font-size-root: 16px;
$body-font-family: 'Raleway', sans-serif !default;

// For updating SASS lists
$ripple-animation-transition-in: none;
$ripple-animation-transition-out: none;
$ripple-animation-visible-opacity: none;
